h1,h2{text-align: center; color:green; font-family:cursive;
}
h3 {text-align: left; font-family: cursive; font-size: 25px;}

img {display: block;margin-right: auto;margin-left:auto;
}
body{background-color:yellow;}
li>a {font-size:30px; padding: 8px 17px;background-color: white; text-decoration: none;
 display:block;
}
ul {list-style-type:none; margin: 0; padding: 0; width: 200px;
}
a:hover{background-color:orange;}
